name: Java CI with Maven

on:
  push:
    branches: [ "main" ]

  schedule:
    - cron: '30 20 * * *'


jobs:

# =========================
# SMOKE TESTS (parallel)
# =========================
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        browser: [chrome, firefox]

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Run Smoke Tests
        run: mvn clean test -DsuiteXmlFile=testng-smoke.xml

      # save raw reports (artifact)
      - name: Upload Test Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Test-Reports-${{ matrix.browser }}
          path: reports


# =========================
# DEPLOY REPORT TO PAGES
# =========================
  deploy-report:
    needs: build
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write
      contents: read

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: Test-Reports-chrome
          path: site

      # rename Extent report to index.html (important for Pages)
      - name: Prepare site root
        run: mv site/ExtentReport.html site/index.html

      - uses: actions/upload-pages-artifact@v3
        with:
          path: site

      - uses: actions/deploy-pages@v4
